.jumbotron.jumbotron-fluid#hero-jumbotron
    .container
        h1.display-4 Welcome!
        p.lead My name is Tara. I am a ful stack developer.
        hr.my-4
        a.btn.btn-primary.btn-lg(href="#") Client login