extends nav

block nav-content
    li.nav-item 
        a.nav-link(href="#profile") Profile
    li.nav-item
        a.nav-link(href="#projects") Projects
    li.nav.item
        a.nav-link(href="#") Contact
    li.nav-item
        a.nav-link(href="#") Login