script(src="/js/jquery-3.4.1.min.js")
script(src='/bootstrap-4.4.1-dist/js/bootstrap.min.js')
script(src='/js/react.production.min.js')
script(src='/js/react-dom.production.min.js')
//script(src='/js/smooth-scroll.js')