doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-3.4.1.min.js")
    script(src='/bootstrap-4.4.1-dist/js/bootstrap.min.js')
  body
    block nav
    block content
    include partials/footer
