doctype html
html
  head
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel='stylesheet', href='/css/layout.css')
    block custom-styles
    include partials/scripts
    title='TaraBryn.com'
  body
    block nav
    .container-fluid#container
      block content
      include partials/footer
