doctype html
html
  head
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-3.4.1.min.js")
    script(src='/bootstrap-4.4.1-dist/js/bootstrap.min.js')
    title='TaraBryn.com'
  body
    block nav
    .container-fluid#container
      block content
      include partials/footer
