extends layout

block custom-styles
    link(rel="stylesheet", href="/css/under_construction.css")

block nav
    include partials/nav-home

block content
    .under-construction
        //img(src="/images/under_construction.png", alt="wooden structure")