@import url(../bootstrap-4.4.1-dist/css/bootstrap.min.css);
@import url(../bootstrap-4.4.1-dist/css/bootstrap-grid.min.css);
@import url(../bootstrap-4.4.1-dist/css/bootstrap-reboot.min.css);
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #343a40;
  color: white; }

a {
  color: #00B7FF; }

#hero-jumbotron {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/female-developer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }
  @media (min-width: 650px) {
    #hero-jumbotron {
      background-position-x: 75%; } }
