.bg-color#contact
    h2#contact-header Contact Me
    .contact.text-center
        a(href="mailto:tbstahler@gmail.com") #[i.far.fa-envelope.fa-5x]
        a(href="https://www.linkedin.com/in/tara-stahler-49b5b5140/", target='_blank') #[i.fab.fa-linkedin.fa-5x]
        a(href="https://github.com/TaraBryn", target="_blank") #[i.fab.fa-github.fa-5x]
        a(href="https://codepen.io/dashboard/", target="_blank", rel="noopener noreferrer") #[i.fab.fa-codepen.fa-5x]
        a(href="https://glitch.com/@TaraStahler", target="_blank", rel="noopener noreferrer") #[img(src="/images/glitch_logo.png", alt="Glitch Logo")]