.jumbotron.jumbotron-fluid.space#hero-jumbotron
    .container
        h1.display-4.mt-5.space Welcome!
        p.lead.mb-4 My name is Tara. I am a full stack developer.
        //hr.my-4
        a.btn.btn-primary.btn-lg.mt-4(href="#") Contact Me