.bg-color
    h2.space.text-center.my-5#profile About Me
    p
    | Starting in tech, I went to schoole and got certified in network administration through CompTIA. 
    | I quickly obtained a job in tech support at a call center
    | and have been at that position for four and a half years as of December 2019. 
    | During that time, I advanced to tier 2 tech support, 
    | but felt I wanted to do more in the field of development. 
    | To that end, I've spent the last few months learning various web development tools, 
    | in addition to prior knowledge of programming.
    p 
    | The following is a list of skills I have picked up along the way:
    h3.text-center.my-3 Self-Taught Skills
    ul
        li front-end technologies (HTML, CSS, SASS, D3 etc...)
        li templating engines (pug, mustache)
        li MERN stack (MongoDB, Express, React, Node)
        li InfoSec (helmet.js and bcrypt)
        li C# and VB.NET
    p Following learning the above technologies, I have built this site from the ground up to demonstrate my skills.
    h3.text-center.my-3 Skills Acquired Through Experience
    p
    | I have learned SQL through experience at my current position 
    | as well as skills unrelated to programming including network technologies 
    | (firewalls, routers, troubleshooting latency issues, among others). 
    p 
    | In addition to what I already know, I plan on learning python and machine learning 
    | as well as any other we technologies that might be useful in the field