.bg-color
    h2.space.my-5#profile My Skills
    h3.my-3 Skills Related to Development
    ul
        li front-end technologies (HTML, CSS, SASS, D3 etc...) (some professional experience)
        li templating engines (pug, mustache)
        li MERN stack (MongoDB, Express, React, Node)
        li MSSQL (4.5 years of professional experience)
        li InfoSec (helmet.js, bcrypt, santize-html/sanitize-html-react)
        li C# and VB.NET
    h3.my-3 Other Skills
    p I also have experience
        | with networking technologies (i.e., firewalls, routers, switches,
        | troubleshooting latency issues, etc.)