.project-wrapper{
    background-color: black;
    width: 95vw;
    min-height: 50vh;
    margin: auto;
    margin-bottom: 25px;
    //code{color: white;}
}

#project-body{
    //padding:20px;
    height: 50vh;
    overflow: scroll;
}

.project-tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;

        &:hover{background-color: #ddd;}
        &:active{background-color: #ccc;}
    }
}