:root{
    --nav-height: 75px;
    --footer-height: 5rem;
    --header-height: 7rem;
    --media-header-height: 10rem;
}

#header-bar{
    height: var(--header-height);
    @media(max-width: 372px){height: var(--media-header-height);}
}

.project-wrapper{
    background-color: black;
    width: 80vw;
    margin: auto;
    margin-bottom: 25px;
    resize: both;
    overflow: hidden;

    top: var(--header-height);
    height: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - var(--nav-height) - 20px);

    @media(max-width: 372px){
        top: var(--media-header-height);
        height: calc(100vh - var(--media-header-height) - var(--footer-height) - var(--nav-height) - 20px);
    }
}

#project-body{
    height: 100%;
    width: 100%;
    overflow: auto;
    resize: both;
}

.project-tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;

        &:hover{background-color: #ddd;}
        &:active{background-color: #ccc;}
    }
}